In [13]:
import pandas as pd
a = [1,8,2,7,3,5]
myvar = pd.Series(a)
print(myvar)

0    1
1    8
2    2
3    7
4    3
5    5
dtype: int64

In [10]:
import pandas as pd
a = pd.Series(pd.date_range('2021-05-01','2021-05-12'))
print(a.to_string(index=False))

2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12

In [11]:
import pandas as pd
a={"calories":[234,456,678],
  "duration":[23,56,43]}
myvar=pd.DataFrame(a)
print(myvar)

   calories  duration
0       234        23
1       456        56
2       678        43

In [12]:
import pandas as pd
a=[[1,3],[5,6]]
myvar=pd.DataFrame(a)
print(myvar)

   0  1
0  1  3
1  5  6

In [14]:
import pandas as pd
a=pd.read_csv('data.csv')
print(a.to_string())

  Name  Mark
0    A    45
1    B    34
2    C    40

In [26]:
import pandas as pd
a=pd.DataFrame({'Name':['B','C','A'],'Age':[34,22,22],'Mark':[45,43,52]})
print(a.to_string())

print("Sorted Data:")

b=a.sort_values(by=['Name','Age'],ascending=[True,True])
print(b.to_string())

  Name  Age  Mark
0    B   34    45
1    C   22    43
2    A   22    52
Sorted Data:
  Name  Age  Mark
2    A   22    52
0    B   34    45
1    C   22    43

In [41]:
import pandas as pd
a={'Name':['B','C','A'],'Age':[34,22,22],'Mark':[45,43,52]}
index={'b1','c1','a1'}
myvar=pd.DataFrame(a,index)
print(myvar.to_string())
print("converting to default indexing")
myvar.reset_index(inplace=True, drop=True)
print(myvar.to_string())

   Name  Age  Mark
a1    B   34    45
c1    C   22    43
b1    A   22    52
converting to default indexing
  Name  Age  Mark
0    B   34    45
1    C   22    43
2    A   22    52

In [42]:
import pandas as pd
a={'Name':['B','C','A'],'Age':[34,22,22],'Mark':[45,43,52]}
myvar=pd.DataFrame(a)
print(myvar[:2])

  Name  Age  Mark
0    B   34    45
1    C   22    43

In [47]:
import pandas as pd
a={'Name':['A','B','C','D'],'Occupation':['Manager','Accountant','Teacher','Manager'],'Salary':[45000,23000,52000,47000]}
myvar=pd.DataFrame(a)
print(myvar)
myvar=myvar.groupby('Occupation')['Salary'].mean()
print("Average Salary:")
print(myvar)

  Name  Occupation  Salary
0    A     Manager   45000
1    B  Accountant   23000
2    C     Teacher   52000
3    D     Manager   47000
Average Salary:
Occupation
Accountant    23000.0
Manager       46000.0
Teacher       52000.0
Name: Salary, dtype: float64

In [49]:
import pandas as pd
import numpy as np

b = {'Set_of_Numbers': [2, 3, 5, 7, 11, 13,np.nan, 19, 23, np.nan]}
myvar = pd.DataFrame(b, columns =['Set_of_Numbers'])
myvar['Set_of_Numbers'] = myvar['Set_of_Numbers'].fillna(0)
print(myvar)

   Set_of_Numbers
0             2.0
1             3.0
2             5.0
3             7.0
4            11.0
5            13.0
6             0.0
7            19.0
8            23.0
9             0.0

In [50]:
import pandas as pd
a = {
    'ename' : ['a','b','c','d'],
    'profit' : [24,25,0,-27],
}

a = pd.DataFrame(a)

a.loc[a.profit <= 0,'profit'] = False
a.loc[a.profit > 0,'profit'] = True
print(a)

  ename profit
0     a   True
1     b   True
2     c  False
3     d  False